@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* Neutral */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  /* Fonts */
  --font-size: 15px;
  --font-family: "Lexend Deca", sans-serif;
  --font-family-heading: "Big Shoulders Display", cursive;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-size: var(--font-size);
  background-color: var(--very-light-gray);
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  max-height: 440px;
  width: 80%;
  margin: 0 auto;
}
h2 {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  color: var(--very-light-gray);
  text-transform: uppercase;
  margin: 0;
}
p {
  font-family: var(--font-family);
  font-size: 0.8rem;
  color: var(--transparent-white);
  line-height: 1.2;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  text-align: left;
  padding: 2.8rem;
  transition: all 0.15s;
}
.column:hover {
  transform: scale(1.08);
}
#column-1 {
  background-color: var(--bright-orange);
  border-radius: 12px 0px 0px 12px;
}
#column-1:hover {
  border-radius: 12px;
}
#column-2 {
  background-color: var(--dark-cyan);
}
#column-2:hover {
  border-radius: 12px;
}
#column-3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0px 12px 12px 0px;
}
#column-3:hover {
  border-radius: 12px;
}
button {
  font-family: var(--font-family);
  font-size: 0.8rem;
  border-radius: 1.6rem;
  padding: 0.6rem 1.6rem;
  border: 2px solid var(--very-light-gray);
  margin-top: 32px;
  background-color: var(--very-light-gray);
  cursor: pointer;
}
#column-1 button {
  color: var(--bright-orange);
  transition: background-color 0.15s;
}
#column-2 button {
  color: var(--dark-cyan);
  transition: background-color 0.15s;
}
#column-3 button {
  color: var(--very-dark-cyan);
  transition: background-color 0.15s;
}
#column-1 button:hover,
#column-2 button:hover,
#column-3 button:hover {
  background-color: transparent;
  color: var(--very-light-gray);
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #column-1,
  #column-1:hover {
    border-radius: 12px 12px 0px 0px;
  }
  #column-3,
  #column-3:hover {
    border-radius: 0px 0px 12px 12px;
  }
  #column-2,
  #column-2:hover {
    border-radius: 0px;
  }

  .column:hover {
    transform: scale(1);
  }
}
